.header-area {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 100px;
}
.header-area a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.brand-area {
  width: 20%;
}
.brand-area a {
  font-size: 35px;
}

.route-list {
  display: flex;
  list-style: none;
  justify-content: end;
  width: 80%;
  height: 100%;
  align-items: center;
}
.route-list li {
  margin-right: 10px;
  cursor: pointer;
  font-family: monospace;
}
.route-list a:hover {
  color: #ffb700;
}
.route-list .active{
  color: #ffb700;
}

.resume {
  border: 2px solid #ffb700;
  border-radius: 8px;
  height: 35px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume a {
  color: #ffb700;
}
.resume:hover a {
  color: white;
}
.resume:hover {
  background-color: #ffb700;
}

@media only screen and (max-width: 600px) {
  .header-area {
    height: 50px;
  }
  .brand-area a {
    font-size: 25px;
  }
  .route-list li {
    margin-right: 0;
    margin-left: 10px;
  }
  .route-list a {
    font-size: 18px;
  }
  .resume {
    border: 1px solid #ffb700;
    border-radius: 20px;
    height: 25px;
    width: 80px;
  }
}
