.header-area {
  display: flex;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  height: 100px;
}
.header-area a {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.brand-area {
  width: 20%;
}
.brand-area a {
  font-size: 35px;
}

.route-list {
  display: flex;
  list-style: none;
  justify-content: end;
  width: 80%;
  height: 100%;
  align-items: center;
}
.route-list li {
  margin-right: 10px;
  cursor: pointer;
  font-family: monospace;
}
.route-list a:hover {
  color: #FFB700;
}

.resume {
  border: 2px solid #FFB700;
  border-radius: 8px;
  height: 35px;
  width: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.resume a {
  color: #FFB700;
}
.resume:hover a {
  color: white;
}
.resume:hover {
  background-color: #FFB700;
}
